form {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputField {
  height: 40px;
  margin-bottom: 8px;
}

.textareaField {
  height: 80px;
  margin-bottom: 16px;
  resize: none;
}

.inputField,
.textareaField {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
}

button {
  width: 95px;
  height: 40px;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  display: block;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

.inputField:hover,
.textareaField:hover {
  border-color: #000000;
}
